main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

main form {
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#content {
    gap: 4rem;
}

