<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="../static/favicon.ico" rel="icon">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/home.css'>
</head>
<body>
    <header>   
        <!-- 左上角的标题 -->
        <section class="header--logo">
            <a href="/" class="link-nodecoration"><img src="../static/ezgif.com-gif-maker.gif" alt="hair boy"  width="80" height="80" >
            <h1 class="nowrap">Meal Right</h1>
            </a>
        </section>
        
        <!-- 右上角的nav-bar -->
        <nav class="nav-bar">
            {% if session["user_id"] %}
                <ul>
                    <li><a href="/search">Add Food</a></li>
                    <!-- current food bag, check whether user wants to add this food bag into its diary, user could either clear all or add some, or delete some food items -->
                    <li><a href="/foodbag">Food Bag</a></li>
                    
                    <!-- user's food bag history -->
                    <li><a href="/calorie_diary">Cal Diary</a></li>
                </ul>
                <ul>
                    <li><a href="/logout">Log Out</a></li>
                </ul>     
            {% else %}
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>

    <main>
        <!-- 中间的welcome page -->
        <table class="nutrition_table">
            <thead>
                <tr>
                    <td class="nutrition--header" colspan="4">
                        <img src="../static/cooking.png" alt="cute figure" height="150">
                    </td>   
                </tr>
                <tr>
                   <td colspan="4"><h2>Nutrition Facts</h2></td>
                </tr>
                <tr class="nutrition--summaryStats">
                    <td>Calories {{calories | kcal}}</td>
                    <td>Fat {{fat | g }}</td>
                    <td>Carbs {{carbs | g}}</td>
                    <td>Protein {{protein | g}}</td>
                </tr>
            </thead>
            <tbody class="nutrition--datatable"> 
            {% if foodbag %}
                <tr>
                    <td>Foodbag item</td>
                    <td>Serving size(g)</td>
                    <td>Calories (kcal)</td>
                    <td>% Daily Calorie Value</td>
                </tr>
                {% for food in foodbag %}
                    <tr>
                        <td>{{food["food"]}}</td>
                        <td>&times; {{food["servings"]}}g</td>
                        <td>{{food["calories"] | kcal}}</td>
                        <td>{{(food["calories"] / calories) | percentage }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody> 
            <tfoot>
                {% if not foodbag %}
                <tr>
                    <td colspan="3">nothing in your food bag !</td>
                    <td>
                        <button type="button" class="no-padding-button"><a class="link-nodecoration" href="/search">Add Food</a></button>
                    </td>
                </tr>
                {% else %}
                <tr ><td colspan="4" class="nutrition--footer">A nutrition snapshot of your current food bag !</td></tr>
                <tr>
                    <td colspan="4">
                        <button type="button" class="save_diary_openbutton">Save in Cal Diary</button>
                        <dialog class="save_diary_modal">
                            <form action="/calorie_diary"
                            method="post">
                                <h2>Select a preferred diary date</h2>
                                <p>permanently save your foodbag snapshot</p>
                                <input type="date" autofocus autocomplete="off"name="record_date">
                                <div class="dialog--buttons">
                                    <button type="submit">confirm</button>
                                    <button type="button" class="save_diary_closebutton">cancel</button>
                                </div>
                                <P class="hintfooter">please note: saving in Cal Diary will allow you to save your current foodbag nutrition details in your calorie diary, so that you could check this date's nutrition consumption later in any future date</P>
                            </form>
                        </dialog>
                        <form action="/foodbag" method="post" id="remove-all-form">
                            <button id="button-unique-style" name="remove_all" value="1" type="submit">Remove all items</button>
                        </form>
                    </td> 
                </tr>
                {% endif %}
            </tfoot>
        </table>
    </main>
    <footer>
        <span class="nowrap">Copyright &copy; <time id="year"></time></span>
        <span class="nowrap">Rose Design</span>
    </footer>
    <script>
        var openDiaryModal = document.querySelector('.save_diary_openbutton')
        var DiaryModal = document.querySelector('.save_diary_modal')
        var closeDiaryModal = document.querySelector('.save_diary_closebutton')

        openDiaryModal.addEventListener('click', function(event) {
            DiaryModal.showModal();
        })

        closeDiaryModal.addEventListener('click', function(event) {
            DiaryModal.close();
        })

    </script>
</body>
</html>

